<p-toolbar styleClass="ggm-ui-toolbar sticky">
	<button [disabled]="!visitorForm.valid" pButton label="Thêm món" icon="ui-icon-save" (click)="createVisitor()" [style]="{'margin-left': '15px'}" class="ui-button-raised"></button>

	<button pButton type="button" label="Huỷ" icon="ui-icon-cancel" [routerLink]="['../../']" routerLinkActive="router-link-active" class="ui-button-raised ui-button-secondary"></button>
</p-toolbar>

<p-panel header="Create Visitor" styleClass="ui-panel-shadow">
	<div class="ui-g ui-fluid">
		<div class="ui-g-7">
			<p-messages [(value)]="msgs"></p-messages>
		</div>
	</div>
	<form [formGroup]="visitorForm" (ngSubmit)="createVisitor()">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="ggm-ui-g-1 ui-g-1">
					<label for="fullname">Chọn món ăn<span style="color: red;">*</span></label>
				</div>
				<div class="ggm-ui-g-3 ui-g-3">
					<p-dropdown [options]="cars" filter="true" formControlName="fullname">
						<ng-template let-item pTemplate="selectedItem">
							<span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
						</ng-template>

						<ng-template let-car pTemplate="item">
							<div class="ui-helper-clearfix" style="position: relative;height: 50px;">
								<div style="font-size:14px;margin-top:4px;margin-left: .5em">{{car.label}}</div>
							</div>
						</ng-template>
					</p-dropdown>
				</div>
				<div class="ggm-ui-g-6 ui-g-6">
					<p-message severity="error" text="Empty full name"
					*ngIf="visitorForm.errors?.emptyFullname">
					</p-message>
					<p-message severity="error" text="Full name too short"
					*ngIf="visitorForm.errors?.shortFullname">
					</p-message>
					<p-message severity="error" text="Full name too long"
					*ngIf="visitorForm.errors?.longFullname">
					</p-message>
				</div>
			</div>

			<div class="ui-g-12">
				<div class="ggm-ui-g-1 ui-g-1">
					<label for="email">Chọn số lượng<span style="color: red;">*</span></label>
				</div>
				<div class="ggm-ui-g-3 ui-g-3">
					<input type="number" pInputText formControlName="email"/>
				</div>
				<div class="ggm-ui-g-6 ui-g-6">
					<p-message severity="error" text="Số lượng không hợp lệ"
					*ngIf="visitorForm.errors?.invalidEmail">
					</p-message>
				</div>
			</div>

			<div class="ui-g-12">
				<div class="ggm-ui-g-1 ui-g-1">
					<label for="company">Ghi chú</label>
				</div>
				<div class="ggm-ui-g-3 ui-g-3">
					<input pInputText formControlName="company"/>
				</div>
				<div class="ggm-ui-g-6 ui-g-6">
					
				</div>
			</div>

			<div class="ggm-ui-g-6 ui-g-6">
				<label for="role"><span style="color: red;">*</span> <strong>Trường bắt buộc</strong></label>
			</div>

			<button type="submit" style="display: none"></button>
		</div>
	</form>
</p-panel>