<p-toast [style]="{marginTop: '60px'}"></p-toast>

<div class="container">
	<h1 style="font-size: 2em; color: #03A9F4; margin: 15px 0">SƠ ĐỒ BÀN ĂN</h1>

	<div class="row">
		<button pButton style="width: 150px; height: 150px" label="Bàn 1" [ngClass]="bananClass[0]" [routerLink]="['../1']"></button>

		<button pButton style="width: 150px; height: 150px" label="Bàn 2" [ngClass]="bananClass[1]" [routerLink]="['../2']"></button>

		<button pButton style="width: 150px; height: 150px" label="Bàn 3" [ngClass]="bananClass[2]" [routerLink]="['../3']"></button>
	</div>

	<div class="row">
		<button pButton style="width: 150px; height: 150px" label="Bàn 4" [ngClass]="bananClass[3]" [routerLink]="['../4']"></button>

		<button pButton style="width: 150px; height: 150px" label="Bàn 5" [ngClass]="bananClass[4]" [routerLink]="['../5']"></button>

		<button pButton style="width: 150px; height: 150px" label="Bàn 6" [ngClass]="bananClass[5]" [routerLink]="['../6']"></button>
	</div>

	<div class="row">
		<button pButton style="width: 150px; height: 150px" label="Bàn 7" [ngClass]="bananClass[6]" [routerLink]="['../7']"></button>

		<button pButton style="width: 150px; height: 150px" label="Bàn 8" [ngClass]="bananClass[7]" [routerLink]="['../8']"></button>

		<button pButton style="width: 150px; height: 150px" label="Bàn 9" [ngClass]="bananClass[8]" [routerLink]="['../9']"></button>
	</div>

	<div class="row">
		<button pButton style="width: 150px; height: 150px" label="Bàn 10" [ngClass]="bananClass[9]" [routerLink]="['../10']"></button>

		<button pButton style="width: 150px; height: 150px" label="Bàn 11" [ngClass]="bananClass[10]" [routerLink]="['../11']"></button>

		<button pButton style="width: 150px; height: 150px" label="Bàn 12" [ngClass]="bananClass[11]" [routerLink]="['../12']"></button>
	</div>
</div>