<p-toast [style]="{marginTop: '50px'}"></p-toast>
<p-tabMenu [model]="tabs" [activeItem]="activeTab"></p-tabMenu>
<router-outlet></router-outlet>
<!-- <p-tabView>
	<p-tabPanel header="Event Details">
		<ng-template pTemplate="content">
			<router-outlet></router-outlet>
		</ng-template>
	</p-tabPanel>
	<p-tabPanel header="Event Guests" cache="false">
		<ng-template pTemplate="content">
			<router-outlet></router-outlet>
		</ng-template>
	</p-tabPanel>
	<p-tabPanel header="Event Staff" cache="false">
		<ng-template pTemplate="">
			Staff goes here
		</ng-template>
	</p-tabPanel>
	<p-tabPanel header="Event Kiosks" cache="false">
		<ng-template pTemplate="">
			Kiosks goes here
		</ng-template>
	</p-tabPanel>
</p-tabView> -->
